<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ucdatabaseConnectionString" connectionString="Data Source=yrinp8w9up.database.windows.net;Initial Catalog=ucdatabase;User ID=ucadmin@yrinp8w9up" providerName="System.Data.SqlClient" />
    <add name="ucdatabaseConnectionString2" connectionString="Data Source=yrinp8w9up.database.windows.net;Initial Catalog=ucdatabase;Persist Security Info=True;User ID=ucadmin@yrinp8w9up;Password=css490UniversityChat" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms defaultUrl="~/Index.aspx" />
    </authentication>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>