* {
    margin: 0px;
    padding: 0px;
}

body, div, p, h1, h4, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Calibri;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}

.container {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

.header {
    position: relative;
	background-color: #119638;
    padding: 10px;
}

.footer {
    padding: 25px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.header h1 a {
    color: White;
    font-size: 50px;
    font-family: poiret-one;
    text-decoration: none;
    text-shadow: #333 3px 3px 5px;
}

.login-container {
    position:absolute;
	right:0px;
	top:9px;
}

.login-container div {
    display: inline-block;
}

.chat-container {
    position: relative;
    height: 450px;
    -webkit-box-flex:1;
}

.chat-container > div {
    position:absolute;
    vertical-align: top;
    border: 1px solid black;
}

.chat-container .channels {
    width: 20%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-left: none;
    border-right: none;
}

.channels .channel-list {
    position: absolute;
    top: 20px;
    bottom: 60px;
}

.channels button {
    width: 100%;
    position: absolute;
}

.channels .add-channel {
    bottom: 30px;
}

.channels .remove-channel {
    bottom: 0px;
}

.channels li, .users li {
    list-style-type:none;
    padding-left: 5px;
}

.channel-list .active-channel {
    color: White;
    background-color: LawnGreen;
}

.chat-container .active-chat {
    right: 20%;
    left: 20%;
    top: 0px;
    bottom: 0px;
}

.chat-container .users {
    width: 20%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: none;
    border-right: none;
}

#chat-tabs .content > div {
    overflow-y: scroll;
    background-color: white;
    padding: 5px;
    height: 320px;
}

#chat-form {
    position: absolute;
	bottom: 0px;
	width: 100%;
}

#chat-form input[type="text"] {
    vertical-align: middle;
    width: 80%;
    padding: 20px 10px;
}

.user-lists > ul {
	display: none;
}

.user-lists > ul.active {
    display: block;
}

/* Overlay css properties */
.overlay {
    background-color: #333333;
    opacity: 0.4;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box {
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

a.boxclose {
    float:right;
    width:26px;
    height:26px;
    background:transparent url(/content/overlay/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

.box h1 {
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#EF7777;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}

.activator {
    width:153px;
    height:150px;
    position:absolute;
    top:0px;
    left:0px;
    background:#fff url(/content/overlay/clickme.png) no-repeat top left;
    z-index:1;
    cursor:pointer;
}

.feedback {
    width: 204px;
    height: 247px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff url(/content/overlay/feedback.jpg) no-repeat top right;
    z-index: 1;
    cursor: pointer;
}