<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universitychat.androidclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="12" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/uchat_launcher"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name" >
        <activity
            android:name="com.universitychat.androidclient.ChatActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            
        </activity>
        <activity
            android:name="com.universitychat.androidclient.LoginWindow"
            android:label="@string/title_activity_login_window" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.universitychat.androidclient.SignupActivity"
            android:label="@string/signup_window"
            android:windowSoftInputMode="stateHidden" >
            
        </activity>
    </application>

</manifest>